.gold_line_container {
  margin: 100px 0 0;
}

.gold_line {
  background: linear-gradient(#E1CF33, #9E721D);
  opacity: 0.5;
  height: 3px;
  width: 90%;

  border-radius: 5px;
  border: transparent;
}