.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.table_inner_container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.table_inner_container::-webkit-scrollbar {
  width: 12px;
}
.table_inner_container::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}