@import "fonts";

#root {
  margin: 0 auto;
  text-align: center;

  width: 100%;
  min-height: 100vh;

  font-family: Roboto, serif;
  font-weight: 600;
}

:root {
  --main-black: #15343A;
  --main-font: Roboto, serif;
}
