@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: El Messiri;
  src: url("./assets/fonts/ElMessiri-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: El Messiri;
  src: url("./assets/fonts/ElMessiri-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}